<a href="https://colab.research.google.com/github/gingawen/MachineLearningFinance/blob/main/%E4%BB%A5SVM%E9%A0%90%E6%B8%AC%E7%89%B9%E6%96%AF%E6%8B%89%E8%82%A1%E5%83%B9%E6%BC%B2%E8%B7%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##安裝雅虎財經套
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 13.8 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.10.8)
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.4 yfinance-0.1.67

In [ ]:
##載入雅虎財經套件
import yfinance as yf

In [ ]:
df = yf.download('TSLA')

[*********************100%***********************]  1 of 1 completed

In [ ]:
df.head()

             Open   High    Low  Close  Adj Close    Volume
Date
2010-06-29  3.800  5.000  3.508  4.778      4.778  93831500
2010-06-30  5.158  6.084  4.660  4.766      4.766  85935500
2010-07-01  5.000  5.184  4.054  4.392      4.392  41094000
2010-07-02  4.600  4.620  3.742  3.840      3.840  25699000
2010-07-06  4.000  4.000  3.166  3.222      3.222  34334500

In [ ]:
df['temp'] = df['Close'].shift(-1)

In [ ]:
df.head()

             Open   High    Low  Close  Adj Close    Volume   temp
Date
2010-06-29  3.800  5.000  3.508  4.778      4.778  93831500  4.766
2010-06-30  5.158  6.084  4.660  4.766      4.766  85935500  4.392
2010-07-01  5.000  5.184  4.054  4.392      4.392  41094000  3.840
2010-07-02  4.600  4.620  3.742  3.840      3.840  25699000  3.222
2010-07-06  4.000  4.000  3.166  3.222      3.222  34334500  3.160

In [ ]:
df = df.dropna()

In [ ]:
df['target'] = df.apply(lambda x: 1 if x.Close < x.temp else 0, axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df.head(20)

             Open   High    Low  Close  Adj Close    Volume   temp  target
Date
2010-06-29  3.800  5.000  3.508  4.778      4.778  93831500  4.766       0
2010-06-30  5.158  6.084  4.660  4.766      4.766  85935500  4.392       0
2010-07-01  5.000  5.184  4.054  4.392      4.392  41094000  3.840       0
2010-07-02  4.600  4.620  3.742  3.840      3.840  25699000  3.222       0
2010-07-06  4.000  4.000  3.166  3.222      3.222  34334500  3.160       0
2010-07-07  3.280  3.326  2.996  3.160      3.160  34608500  3.492       1
2010-07-08  3.228  3.504  3.114  3.492      3.492  38557000  3.480       0
2010-07-09  3.516  3.580  3.310  3.480      3.480  20253000  3.410       0
2010-07-12  3.590  3.614  3.400  3.410      3.410  11012500  3.628       1
2010-07-13  3.478  3.728  3.380  3.628      3.628  13400500  3.968       1
2010-07-14  3.588  4.030  3.552  3.968      3.968  20976000  3.978       1
2010-07-15  3.988  4.300  3.800  3.978      3.978  18699000  4.128       1
2010-07-16  4.140  4.260  4.010  4.128      4.128  13106500  4.382       1
2010-07-19  4.274  4.450  4.184  4.382      4.382  12432500  4.060       0
2010-07-20  4.370  4.370  4.010  4.060      4.060   9126500  4.044       0
2010-07-21  4.132  4.180  3.900  4.044      4.044   6262500  4.200       1
2010-07-22  4.100  4.250  4.074  4.200      4.200   4789000  4.258       1
2010-07-23  4.238  4.312  4.212  4.258      4.258   3268000  4.190       0
2010-07-26  4.300  4.300  4.060  4.190      4.190   4611000  4.110       0
2010-07-27  4.182  4.236  4.052  4.110      4.110   3098500  4.144       1

In [ ]:
##載入sklearn模型
from sklearn.model_selection import train_test_split

In [ ]:
##把資料分為測試集與訓練集
x_train, x_test, y_train, y_test = train_test_split(df[['Open','High','Low','Close']], df['target'], test_size=0.2, random_state=0)

In [ ]:
##載入SVM函式庫
from sklearn.svm import SVC

In [ ]:
##建立模型
clf = SVC()

In [ ]:
##訓練模型
clf.fit(x_train, y_train)

SVC()

In [ ]:
clf.score(x_test, y_test)

0.515625

##嘗試加入更多的資料集(特徵)來測試模型

In [ ]:
df['ma5'] = df['Close'].rolling(5).mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
for i in range(5, 65, 5):
  df['ma'+str(i)] = df['Close'].rolling(i).mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df.head()

             Open   High    Low  Close  Adj Close  ...  ma40  ma45  ma50  ma55  ma60
Date                                               ...
2010-06-29  3.800  5.000  3.508  4.778      4.778  ...   NaN   NaN   NaN   NaN   NaN
2010-06-30  5.158  6.084  4.660  4.766      4.766  ...   NaN   NaN   NaN   NaN   NaN
2010-07-01  5.000  5.184  4.054  4.392      4.392  ...   NaN   NaN   NaN   NaN   NaN
2010-07-02  4.600  4.620  3.742  3.840      3.840  ...   NaN   NaN   NaN   NaN   NaN
2010-07-06  4.000  4.000  3.166  3.222      3.222  ...   NaN   NaN   NaN   NaN   NaN

[5 rows x 20 columns]

In [ ]:
df = df.dropna()

In [ ]:
features = []

for i in range(5, 65, 5):
  features.append('ma'+str(i))

In [ ]:
features.extend(['Open','High','Low','Close'])

In [ ]:
features

['ma5',
 'ma10',
 'ma15',
 'ma20',
 'ma25',
 'ma30',
 'ma35',
 'ma40',
 'ma45',
 'ma50',
 'ma55',
 'ma60',
 'Open',
 'High',
 'Low',
 'Close']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df[features], df['target'], test_size=0.2, random_state=0)

In [ ]:
#1. 載入模型
# from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#2. 建立模型
# clf = SVC()
clf = RandomForestClassifier()

In [ ]:
#3. 訓練模型
clf.fit(x_train, y_train)

RandomForestClassifier()

In [ ]:
clf.score(x_test, y_test)

0.5221238938053098